
@keyframes leftAnimation {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    80%{
        transform: translateX(8px);
    }
    100% {
    transform: translateX(0%);
    opacity: 1;
    }
}

@keyframes btAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
    transform: translateY(0%);
    opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

  
  .fadeIn {
    animation: fadeIn 1s  cubic-bezier(0.215, 0.61, 0.355, 1) var(--delay, 0s);
    animation-fill-mode: backwards;
  }
  .fadeInUp {
    animation: fadeInUp 1s  cubic-bezier(0.215, 0.61, 0.355, 1) var(--delay, 0s);
    animation-fill-mode: backwards;
  }
  

.lr-animations{
    animation: leftAnimation 1.2s cubic-bezier(0.75, 0.25, 0.1, 0.95);
}

.lr-paragraph{
    animation: leftAnimation 1.2s cubic-bezier(0.75, 0.25, 0.1, 0.95) .5s;
    animation-fill-mode: backwards;
}