:root {
  /* Space */
  --space-3xs: clamp(0.25rem, 0.2273rem + 0.1136vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4545rem + 0.2273vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6818rem + 0.3409vi, 0.9375rem);
  --space-s: clamp(1rem, 0.9091rem + 0.4545vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3636rem + 0.6818vi, 1.875rem);
  --space-l: clamp(2rem, 1.8182rem + 0.9091vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7273rem + 1.3636vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6364rem + 1.8182vi, 5rem);
  --space-3xl: clamp(6rem, 5.4545rem + 2.7273vi, 7.5rem);

  /* Typography */
  --size--2: clamp(0.6331rem, 0.7167rem + -0.1115vi, 0.6944rem);
  --size--1: clamp(0.8333rem, 0.8295rem + 0.0193vi, 0.844rem);
  --size-0: clamp(1rem, 0.9545rem + 0.2273vi, 1.125rem);
  --size-1: clamp(1.2rem, 1.091rem + 0.5448vi, 1.4996rem);
  --size-2: clamp(1.44rem, 1.2367rem + 1.0164vi, 1.999rem);
  --size-3: clamp(1.728rem, 1.3874rem + 1.703vi, 2.6647rem);
  --size-4: clamp(2.0736rem, 1.536rem + 2.688vi, 3.552rem);
  --size-5: clamp(2.4883rem, 1.6714rem + 4.0845vi, 4.7348rem);
  /*Color*/
  --color-green:hsl(170, 41%, 12%);
  --color-greenHsl:170, 41%, 12%;
  --color-yellow:hsl(46, 96%, 64%);
  --color-yellowHsl:46, 96%, 64%;
  --color-greenLight:hsl(170, 42%, 28%);
  --color-greenLightHsl:170, 42%, 28%;
  --color-white:hsl(0, 0%, 100%);
  --color-whiteHsl:0, 0%, 100%;
  --color-grayHsl:0, 0%, 50%;
  --color-gray:hsl(0, 0%, 50%);
  /*Font*/
  --ff-montserrat:  'Montserrat Variable', sans-serif;
  --ff-lora:  'Lora Variable', serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 700;
  /*Shadown*/
  --shadow-color: 0deg 0% 63%;
  --shadow-medium:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

}
html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-montserrat);
  font-size: var(--size-0);
  padding-block-end: var(--space-s);
  color: var(--color-green);
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}
h1 {
  font-size: var(--size-4);
  max-width: 15ch;
}
h2 {
  font-size: var(--size-3);
}
h2,
h3 {
  max-width: 18ch;
  font-weight: var(--fw-bold);
}
a:hover {
  text-decoration: currentColor;
}
button {
  all: unset;
}

p {
  max-width: 42ch;
  font-family: var(--ff-lora);
}
img{
height: auto;
}

main{
overflow-x: hidden;
}

ul{
padding: 0;
}
.scroll-padlock-locked {
  /* Standard way to lock scroll */
  overflow: hidden;

  /* Reserves space for scrollbar */
  padding-right: var(--scroll-padlock-scrollbar-width);
}

