---
import GridGallery from "../GridGallery.astro";
---
<section class="gallery py-space-3xl" id="gallery">
    <div class="container">
        <h2 class="mb-space-xl">Our Gallery</h2>
        <GridGallery/>
    </div>
</section>